@font-face {
  font-family: 'VX';
  src: url('VX.eot?sfdbnn');
  src: url('VX.eot?sfdbnn#iefix') format('embedded-opentype'), url('VX.ttf?sfdbnn') format('truetype'), url('VX.woff?sfdbnn') format('woff'), url('VX.woff2?sfdbnn') format('woff2'), url('VX.svg?sfdbnn#VX') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VX' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notdef:before {
  content: "\e921";
}

.icon-x:before {
  content: "\78";
}

.icon-uniE600:before {
  content: "\e600";
}

.icon-uniE601:before {
  content: "\e601";
}

.icon-uniE602:before {
  content: "\e602";
}

.icon-uniE603:before {
  content: "\e603";
}

.icon-uniE604:before {
  content: "\e604";
}

.icon-uniE605:before {
  content: "\e605";
}

.icon-uniE606:before {
  content: "\e606";
}

.icon-uniE607:before {
  content: "\e607";
}

.icon-uniE608:before {
  content: "\e608";
}

.icon-uniE609:before {
  content: "\e609";
}

.icon-uniE60A:before {
  content: "\e60a";
}

.icon-uniE60B:before {
  content: "\e60b";
}

.icon-uniE60C:before {
  content: "\e60c";
}

.icon-uniE60D:before {
  content: "\e60d";
}

.icon-uniE60E:before {
  content: "\e60e";
}

.icon-uniE60F:before {
  content: "\e60f";
}

.icon-uniE610:before {
  content: "\e610";
}

.icon-uniE611:before {
  content: "\e611";
}

.icon-uniE612:before {
  content: "\e612";
}

.icon-uniE613:before {
  content: "\e613";
}

.icon-uniE614:before {
  content: "\e614";
}

.icon-uniE615:before {
  content: "\e615";
}

.icon-uniE616:before {
  content: "\e616";
}

.icon-uniE617:before {
  content: "\e617";
}

.icon-uniE618:before {
  content: "\e618";
}

.icon-uniE619:before {
  content: "\e619";
}

.icon-uniE61A:before {
  content: "\e61a";
}

.icon-uniE61B:before {
  content: "\e61b";
}

.icon-uniE61C:before {
  content: "\e61c";
}

.icon-uniE61D:before {
  content: "\e61d";
}

.icon-uniE61E:before {
  content: "\e61e";
}

.icon-uniE61F:before {
  content: "\e61f";
}

.icon-uniE620:before {
  content: "\e620";
}

.icon-uniE621:before {
  content: "\e621";
}

.icon-uniE622:before {
  content: "\e622";
}

.icon-uniE623:before {
  content: "\e623";
}

.icon-uniE624:before {
  content: "\e624";
}

.icon-uniE626:before {
  content: "\e626";
}

.icon-uniE627:before {
  content: "\e627";
}

.icon-ChuangKouBuJu2:before {
  content: "\e9a6";
}

.icon-ChuangKouBuJu1:before {
  content: "\e9a7";
}

.icon-PingMuFangDa:before {
  content: "\e9a8";
}

.icon-MaiKeFeng:before {
  content: "\e9a9";
}

.icon-MaiKeFengGB:before {
  content: "\e9aa";
}

.icon-MaiKeFeng4:before {
  content: "\e9ab";
}

.icon-MaiKeFeng3:before {
  content: "\e9ac";
}

.icon-MaiKeFeng2:before {
  content: "\e9ad";
}

.icon-MaiKeFeng1:before {
  content: "\e9ae";
}

.icon-JiXiaoMT:before {
  content: "\e9a1";
}

.icon-JixiaoJGSS:before {
  content: "\e9a2";
}

.icon-JiXiaoPG:before {
  content: "\e9a3";
}

.icon-MuBiaoGJ:before {
  content: "\e9a4";
}

.icon-JiXiaoJH:before {
  content: "\e9a5";
}

.icon-DingJieKou:before {
  content: "\e9a0";
}

.icon-MingXiBB2:before {
  content: "\e99c";
}

.icon-MingXiBB:before {
  content: "\e99d";
}

.icon-TongJiBB2:before {
  content: "\e99e";
}

.icon-TongJiBB:before {
  content: "\e99f";
}

.icon-CP:before {
  content: "\e999";
}

.icon-PeiXunGuanLi:before {
  content: "\e99a";
}

.icon-RenCaiPanDian:before {
  content: "\e99b";
}

.icon-JianZhi:before {
  content: "\e998";
}

.icon-N_delete:before {
  content: "\e996";
}

.icon-N_delete2:before {
  content: "\e997";
}

.icon-LiuChengTongYong:before {
  content: "\e995";
}

.icon-QiTaLiuCheng:before {
  content: "\e994";
}

.icon-Cloudy:before {
  content: "\e98c";
}

.icon-RainMix:before {
  content: "\e98d";
}

.icon-Sandstorm:before {
  content: "\e98e";
}

.icon-Showers:before {
  content: "\e98f";
}

.icon-Snow:before {
  content: "\e990";
}

.icon-Sunny:before {
  content: "\e991";
}

.icon-WiColudy:before {
  content: "\e992";
}

.icon-Wifog:before {
  content: "\e993";
}

.icon-BaoBiaoQuanXian:before {
  content: "\e984";
}

.icon-BaoBiaoSheZhi:before {
  content: "\e985";
}

.icon-DaoYanLieBiao:before {
  content: "\e986";
}

.icon-KT-DanHangWenDa:before {
  content: "\e987";
}

.icon-KT-DanXuanTi:before {
  content: "\e988";
}

.icon-KT-DuoHangWenDa:before {
  content: "\e989";
}

.icon-KT-DuoXuanTi:before {
  content: "\e98a";
}

.icon-KT-MiaoShuShuoMing:before {
  content: "\e98b";
}

.icon-KT-BaoBiaoGuanLi:before {
  content: "\e968";
}

.icon-KT-CaoZuo:before {
  content: "\e969";
}

.icon-KT-Close:before {
  content: "\e96a";
}

.icon-KT-DiaoYan:before {
  content: "\e96b";
}

.icon-KT-DiQu:before {
  content: "\e96c";
}

.icon-KT-Down:before {
  content: "\e96d";
}

.icon-KT-Down2:before {
  content: "\e96e";
}

.icon-KT-ErWeiMa:before {
  content: "\e96f";
}

.icon-KT-GuDing:before {
  content: "\e970";
}

.icon-KT-Home:before {
  content: "\e971";
}

.icon-KT-HuoDongGuanLi:before {
  content: "\e972";
}

.icon-KT-JiangShi:before {
  content: "\e973";
}

.icon-KT-Lift:before {
  content: "\e974";
}

.icon-KT-Lift2:before {
  content: "\e975";
}

.icon-KT-MoBanGuanLi:before {
  content: "\e976";
}

.icon-KT-Out:before {
  content: "\e977";
}

.icon-KT-Password:before {
  content: "\e978";
}

.icon-KT-QianDao:before {
  content: "\e979";
}

.icon-KT-RenShu:before {
  content: "\e97a";
}

.icon-KT-Right:before {
  content: "\e97b";
}

.icon-KT-Right2:before {
  content: "\e97c";
}

.icon-KT-Set:before {
  content: "\e97d";
}

.icon-KT-ShuJuZiDian:before {
  content: "\e97e";
}

.icon-KT-Time:before {
  content: "\e97f";
}

.icon-KT-User:before {
  content: "\e980";
}

.icon-KT-WenJuanGuanLi:before {
  content: "\e981";
}

.icon-KT-YongHuGuanLi:before {
  content: "\e982";
}

.icon-KT-ZiYuanGuanLi:before {
  content: "\e983";
}

.icon-TiShiTuBiao1:before {
  content: "\e966";
}

.icon-TiShiTuBiao2:before {
  content: "\e967";
}

.icon-FuJianXiaZai:before {
  content: "\e964";
}

.icon-FuJianYuLan:before {
  content: "\e965";
}

.icon-bianjishu:before {
  content: "\e922";
}

.icon-fwb-xieti:before {
  content: "\e923";
}

.icon-fwb-chaolianjie:before {
  content: "\e924";
}

.icon-fwb-cuti:before {
  content: "\e925";
}

.icon-tuozhuanbashou:before {
  content: "\e926";
}

.icon-fwb-tupian:before {
  content: "\e927";
}

.icon-fwb-yanse:before {
  content: "\e93c";
}

.icon-fwb-xiahuaxian:before {
  content: "\e941";
}

.icon-fwb-yulan:before {
  content: "\e942";
}

.icon-ErWeiMa:before {
  content: "\e91a";
}

.icon-Mobile:before {
  content: "\e91b";
}

.icon-Pad:before {
  content: "\e91c";
}

.icon-PC:before {
  content: "\e91d";
}

.icon-ShangYi:before {
  content: "\e91e";
}

.icon-XiaYi-Copy-2:before {
  content: "\e91f";
}

.icon-XiaYi:before {
  content: "\e920";
}

.icon-ShangChuanTuPian:before {
  content: "\e919";
}

.icon-YuYanKuGuanLi:before {
  content: "\e912";
}

.icon-DaoRuLieBiao:before {
  content: "\e914";
}

.icon-MuBanGuanLi:before {
  content: "\e915";
}

.icon-WenJuanBeiJing:before {
  content: "\e916";
}

.icon-YiFaSongDuanXin:before {
  content: "\e917";
}

.icon-ZhongJiangGuanLi:before {
  content: "\e918";
}

.icon-ChangYongCanShu:before {
  content: "\e90a";
}

.icon-TiShiXinXi:before {
  content: "\e90b";
}

.icon-TongJiXinXi:before {
  content: "\e90c";
}

.icon-TuoZhuai:before {
  content: "\e90d";
}

.icon-WeiDuQieHuan:before {
  content: "\e90e";
}

.icon-YongHuHuanLi:before {
  content: "\e90f";
}

.icon-YongHuLieBiao:before {
  content: "\e910";
}

.icon-YouXiangGuanLi:before {
  content: "\e911";
}

.icon-ZhanDianGuanLi:before {
  content: "\e913";
}

.icon-other-picture:before {
  content: "\e909";
}

.icon-other-WenBen:before {
  content: "\e908";
}

.icon-other-WenJian:before {
  content: "\e907";
}

.icon-other-finish:before {
  content: "\e906";
}

.icon-other-delete3:before {
  content: "\e900";
}

.icon-next-page:before {
  content: "\e905";
}

.icon-duoyugyan:before {
  content: "\e904";
}

.icon-ahi:before {
  content: "\e929";
}

.icon-caozuo:before {
  content: "\e92a";
}

.icon-numen:before {
  content: "\e92b";
}

.icon-chakan:before {
  content: "\e92c";
}

.icon-chexiao:before {
  content: "\e92d";
}

.icon-dianhua:before {
  content: "\e92e";
}

.icon-more:before {
  content: "\e92f";
}

.icon-gonghao:before {
  content: "\e930";
}

.icon-gongs:before {
  content: "\e931";
}

.icon-renyuan:before {
  content: "\e932";
}

.icon-riqi:before {
  content: "\e933";
}

.icon-delete:before {
  content: "\e934";
}

.icon-delete2:before {
  content: "\e935";
}

.icon-time:before {
  content: "\e936";
}

.icon-shoji:before {
  content: "\e937";
}

.icon-tianjin:before {
  content: "\e938";
}

.icon-wenjian:before {
  content: "\e939";
}

.icon-xiala1:before {
  content: "\e93a";
}

.icon-xiala3:before {
  content: "\e93b";
}

.icon-xiala4:before {
  content: "\e928";
}

.icon-xiala5:before {
  content: "\e901";
}

.icon-mail:before {
  content: "\e93d";
}

.icon-jiaqi:before {
  content: "\e93e";
}

.icon-bangzhu:before {
  content: "\e93f";
}

.icon-rile:before {
  content: "\e940";
}

.icon-chengjiu:before {
  content: "\e943";
}

.icon-yingyong:before {
  content: "\e902";
}

.icon-yuyan:before {
  content: "\e903";
}

.icon-home-gonggao:before {
  content: "\e944";
}

.icon-jilt:before {
  content: "\e945";
}

.icon-shezhi:before {
  content: "\e946";
}

.icon-ximxi:before {
  content: "\e947";
}

.icon-user1:before {
  content: "\e948";
}

.icon-user2:before {
  content: "\e949";
}

.icon-user3:before {
  content: "\e94a";
}

.icon-home:before {
  content: "\e94b";
}

.icon-xuexixingdong:before {
  content: "\e94c";
}

.icon-jingled:before {
  content: "\e94d";
}

.icon-tuition:before {
  content: "\e94e";
}

.icon-xuexiditu:before {
  content: "\e94f";
}

.icon-xviujia:before {
  content: "\e950";
}

.icon-jiaban:before {
  content: "\e951";
}

.icon-gongchu:before {
  content: "\e952";
}

.icon-kaoqing:before {
  content: "\e953";
}

.icon-xinchou:before {
  content: "\e954";
}

.icon-jixiao:before {
  content: "\e955";
}

.icon-shengrenli2:before {
  content: "\e956";
}

.icon-zhaopin2:before {
  content: "\e957";
}

.icon-huiyiguanli:before {
  content: "\e958";
}

.icon-neibujili:before {
  content: "\e959";
}

.icon-lizhidiaoyan:before {
  content: "\e95a";
}

.icon-wenhuazhengduan:before {
  content: "\e95b";
}

.icon-touch:before {
  content: "\e95c";
}

.icon-jianlijiexi:before {
  content: "\e95d";
}

.icon-renshi:before {
  content: "\e95e";
}

.icon-shebao:before {
  content: "\e95f";
}

.icon-gonggao:before {
  content: "\e960";
}

.icon-exiting:before {
  content: "\e961";
}

.icon-qudaofabu:before {
  content: "\e962";
}

.icon-rencaijuzhen2:before {
  content: "\e963";
}