<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>智慧生涯--视频面试</title>

    <!-- Public Header -->
    <link rel="stylesheet" href="../../Content/css/normalize.css" />
    <link rel="stylesheet" href="../../Content/fonts/VX.css">
    <link rel="stylesheet" href="../../Content/css/Index.css?v=20180705" />

    <script src="../../Scripts/libs/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/libs/vue.min.js"></script>
    <script src="../../Scripts/libs/communication.js"></script>
    
</head>
<body>
    <div class="container" id="app">
        <div class="wrapper">
            
            <!--Logo-->
            <section class="logo-container">
                <a href="https://www.vxhcm.com" target="_blank" class="logo-href"><img src="../../Content/img/logo.png" class="logo-img"></a>
            </section>

            <!--Icon-->
            <section class="pic-container">
                <div class="pic pic01"><img src="../../Content/img/pic01.png" class="pic-img"></div>
                <div class="pic pic02"><img src="../../Content/img/pic02.png" class="pic-img"></div>
                <div class="pic pic03"><img src="../../Content/img/pic03.png" class="pic-img"></div>
                <div class="pic pic04"><img src="../../Content/img/pic04.png" class="pic-img"></div>
                <div class="pic pic05"><img src="../../Content/img/pic05.png" class="pic-img"></div>
            </section>
            
            <!-- CountDown -->
            <section class="flo-container time-container">
                <div class="text">距离视频面试开始还有</div>
                <div class="time-inner">3小时50分</div>
            </section>

            <!-- Enter -->
            <!-- <section class="flo-container enter-container">
                <div class="text">面试已经开始</div>
                <div class="btn-enter">立即进入</div>
            </section> -->

            <!-- End -->
            <!-- <section class="flo-container end-container">
                <div class="end-img"></div>
                <div class="text">面试结束</div>
            </section> -->

            <!-- Warn -->
            <!-- <section class="warn-container">
                <div class="warn-box">
                    <div class="btn-warn-close"></div>
                    <div class="warn-img"></div>
                    <div class="text">人数已满</div>
                </div>
            </section> -->

            <!-- Bottom -->
            <section class="bottom-container">
                <div class="bottom-box">
                    <div class="top"></div>
                    <div class="left">
                        <span class="icon icon-KT-User"></span>
                    </div>
                    <div class="middle">
                        <span class="icon icon-KT-User"></span>
                        <span class="text">共21人参加面试</span>
                    </div>
                    <div class="btn-exit"><img src="../../Content/img/exit.png" class="exit-img"></div>
                </div>
            </section>

            <!-- video -->
            <section class="video-container">
                <div class="video-wrapper clearbox">
                    <div class="left">
                        <div class="default"></div>
                        <div class="audio-box audio-close">
                            <span class="icon icon-MaiKeFeng icon-open"></span>
                            <span class="icon icon-MaiKeFengGB icon-close"></span>
                        </div>
                        <div id="videoBig"></div>
                    </div>
                    <div class="right" id="video-box">
                        <ul class="video-list clearbox">
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                            <li class="video-item">
                                <div class="item-default"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

    <script src="../../Scripts/libs/jquery.nicescroll.js"></script>
    <script src="../../Scripts/js/Index.js?v=20180705"></script>

</body>
</html>