<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>智慧生涯--视频面试</title>

    <!-- Public Header -->
    <link rel="stylesheet" href="../Content/css/m_normalize.css" />
    <link rel="stylesheet" href="../Content/fonts/VX.css">
    <link rel="stylesheet" href="../Content/css/m_Index.css?v=20180705" />

    <script src="../Scripts/libs/jquery-1.11.3.min.js"></script>
    <script src="../Scripts/libs/vue.min.js"></script>
    <script src="../Scripts/libs/communication.js"></script>
</head>
<body>
    <div class="container" id="app">
        <div class="wrapper">

            <!-- Header -->
            <header class="top-container">
                <div class="top-back" v-on:click="exitInterview">
                    <img src="../Content/img/m_back.png" class="top-back-img">
                </div>
                <a href="https://www.vxhcm.com" class="top-logo">
                    <img src="../Content/img/m_video_logo.png" class="top-logo-img">
                </a>
                <div class="btn-end-video" v-on:click="EndVideo" style="display:none;" v-show="videoKey">
                    <img src="../Content/img/m_video_end.png" class="top-end-img">
                </div>
            </header>

            <!--Icon-->
            <section class="pic-container" style="display:none;" v-show="!videoKey">
                <div class="pic pic01"><img src="../Content/img/m_pic01.png" class="pic-img"></div>
                <div class="pic pic02"><img src="../Content/img/m_pic02.png" class="pic-img"></div>
                <div class="pic pic03"><img src="../Content/img/m_pic03.png" class="pic-img"></div>
            </section>

            <!-- CountDown -->
            <section class="flo-container time-container" style="display:none;" v-show="timeKey">
                <div class="text">距离视频面试开始还有</div>
                <div class="time-inner" id="countdown"></div>
            </section>

            <!-- Enter -->
            <section class="flo-container enter-container" style="display:none;" v-show="!timeKey">
                <div class="text">面试已经开始</div>
                <div class="btn-enter" v-on:click="beginInterview">立即进入</div>
            </section>

            <!-- End -->
            <section class="flo-container end-container" style="display:none;" v-show="exitKey">
                <div class="end-img"></div>
                <div class="text">面试结束</div>
            </section>

            <!-- Warn -->
            <section class="warn-container" style="display:none;" v-show="fullKey">
                <div class="warn-box">
                    <div class="btn-warn-close" v-on:click="closeWarn"></div>
                    <div class="warn-img"></div>
                    <div class="text">人数已满</div>
                </div>
            </section>

            <!-- End Video -->
            <section class="end-video-container" style="display:none;" v-show="endVideoKey">
                <div class="warn-box">
                    <div class="btn-warn-close" v-on:click="cancelEndVideo"></div>
                    <div class="warn-img"></div>
                    <div class="text">是否确定结束本次面试</div>
                    <div class="btn-box">
                        <div class="btn-end-confirm btn-end" v-on:click="confrimEndVideo">确定</div>
                        <div class="btn-end-cancel btn-end" v-on:click="cancelEndVideo">取消</div>
                    </div>
                </div>
            </section>

            <!-- Bottom -->
            <section class="bottom-container" style="display:none;" v-show="videoKey">
                <div class="bottom-box">
                    <div class="left">
                        <span class="icon icon-KT-User"></span>
                        <span class="text">共21人参加面试</span>
                    </div>
                    <div class="right">
                        <span class="text">面试已进行</span>
                        <span id="timer" class="bottom-timer"></span>
                    </div>
                </div>
            </section>

            <!-- Hide input -->
            <!-- <section class="hide-container">
                <input type="hidden" autofocus="autofocus">
            </section> -->

            <!-- video -->
            <section class="video-container" style="display:none;" v-show="videoKey">
                <div class="video-wrapper clearbox">
                    <div class="big">
                        <div class="default"></div>
                        <div class="audio-box audio-close">
                            <span class="icon icon-MaiKeFeng icon-open"></span>
                            <!-- <span class="icon icon-MaiKeFengGB icon-close"></span> -->
                        </div>
                        <div class="name-big overflow-text">David</div>

                        <!-- Big Video -->
                        <div id="videoBig">
                            <video src="../Content/video/3.mp4" data-videotype="remote" autoplay="autoplay" style="width:100%;height:100%;object-fit:cover;"></video>
                        </div>
                    </div>
                    <div class="list clearbox" id="video-box">
                        <ul class="video-list clearbox">
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="tip">接入中</div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name overflow-text">DavidDavidDavidDavidDavidDavidDavidDavidDavid</div>

                                <div id="video01" class="video-layer">
                                    <video src="../Content/video/3.mp4" data-videotype="remote" autoplay="autoplay" style="width:100%;height:100%;object-fit:cover;"></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>

                                <div id="video02" class="video-layer">
                                    <video src="../Content/video/4.mp4" data-videotype="remote" autoplay="autoplay" style="width:100%;height:100%;object-fit:cover;"></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>


                                <div id="video03" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>


                                <div id="video04" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>

                                <div id="video05" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>

                                <div id="video06" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>

                                <div id="video07" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>


                                <div id="video08" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>


                                <div id="video09" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>


                                <div id="video10" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>

                                
                                <div id="video11" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                            <li class="video-item video-open">
                                <div class="item-default"></div>
                                <div class="audio-layer"></div>
                                <div class="ani-box">
                                    <span class="circle c1"></span>
                                    <span class="circle c2"></span>
                                    <span class="circle c3"></span>
                                    <span class="circle c4"></span>
                                </div>
                                <div class="menu-box clearbox">
                                    <div class="more">
                                        <span class="icon-more"></span>
                                    </div>
                                    <div class="func-box">
                                        <div class="switch item">
                                            <span class="icon-PingMuFangDa"></span>
                                            <span class="text">放大</span>
                                        </div>
                                        <div class="out item">
                                            <span class="icon-KT-Out"></span>
                                            <span class="text">移除</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">David</div>


                                <div id="video12" class="video-layer">
                                    <video src=""></video>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

    <script src="../Scripts/js/Time.js"></script>
    <script src="../Scripts/js/m_Index.js?v=20180705"></script>

</body>
</html>