@charset "utf-8";
/*****************************Initialize*****************************/
html,
body{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	font-family:"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

ul{
	list-style:none;
}

a{
    text-decoration: none; 
}

a:link,
a:active,
a:visited,
a:hover{
	text-decoration:none;
	color:#6d6d6d;
}

input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #999;
    letter-spacing: 1px;   
}   

input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    color: #999;
    letter-spacing: 1px;   
}   

input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #999;
    letter-spacing: 1px;   
}

.yellow{
	color:#ffbf00;
}

.red{
	color:#ee5c54;
}

.blue{
	color:#0099e5;
}

.green{
	color:#5fbfc9;
}

/*****************************Content******************************/
.container{
	position:relative;
	width:100%;
	height:100%;
	
}

.container .wrapper{
	position:relative;
	width:100%;
	height:100%;
}

/****************************Header****************************/
header.top-container{
	position:relative;
	width:100%;
	height:44px;
	line-height:44px;
	background:#fff;
}

header.top-container .top-back{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:44px;
	height:100%;
	line-height:44px;
	text-align:center;
}

header.top-container .top-back img.top-back-img{
	height:20px;
}

header.top-container .top-logo{
	display:block;
	margin:0 auto;
	position:relative;
	width:calc(100% - 100px);
	height:44px;
	line-height:44px;
}

header.top-container .top-logo img.top-logo-img{
	height:27px;
}

header.top-container .btn-end-video{
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	width:44px;
	height:100%;
	line-height:44px;
	text-align:center;
}

header.top-container .btn-end-video img.top-end-img{
	height:20px;
}


/**************************Pic*************************/
section.pic-container{
	position:relative;
	width:100%;
	height:calc(100% - 44px);
	background:url(../img/m_bg.png)no-repeat center center;
	background-size:cover;
	z-index:5;
	overflow:hidden;
}

section.pic-container .pic{
	position:absolute;
	z-index:5;
}

section.pic-container .pic img.pic-img{
	display:block;
	width:100%;
}

section.pic-container .pic01{
	top:-70px;
	left:50%;
	margin-left:-104px;
	width:300px;
	height:208px;
}

section.pic-container .pic02{
	top:120px;
	left:50%;
	margin-left:-100px;
	width:226px;
	height:34px;
}

section.pic-container .pic03{
	bottom:50px;
	left:50%;
	margin-left:-140px;
	width:164px;
	height:32px;
}

/*****************************Flo****************************/
section.flo-container{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	z-index:20;
}

section.flo-container .text{
	line-height:24px;
	font-size:18px;
	color:#fff;
	text-align:center;
}

/*********************************CountDown*****************************/
section.time-container{
	margin-top:-50px;
	height:114px;
}

section.time-container .time-inner{
	margin-top:10px;
	height:80px;
	line-height:45px;
	font-size:32px;
	color:#04ff76;
	text-align:center;
	background:url(../img/highlight.png)no-repeat center center;
	background-size:cover;
}

/**************************************Enter******************************/
section.enter-container{
	margin-top:-55px;
	width:100%;
	height:110px;
}

section.enter-container .btn-enter{
	margin:0 auto;
	margin-top:20px;
	width:200px;
	height:56px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	color: #ffffff;
	text-shadow: 0 1px 2px #129bbb;
	background:url(../img/btn.png)no-repeat center center;
	background-size:cover;
	cursor:pointer;
}


/**************************************End******************************/
section.end-container{
	margin-top:-70px;
	width:100%;
	height:154px;
}

section.end-container .end-img{
	margin:0 auto;
	margin-bottom:10px;
	width:120px;
	height:120px;
	background:url(../img/end.png)no-repeat center center;
	background-size:cover;
}

/************************************Warn***********************************/
section.warn-container{
	position:fixed;
	top:44px;
	left:0;
	z-index:1000;
	width:100%;
	height:100%;
  	background-color:rgba(0,0,0,0.5);
}

section.warn-container .warn-box{
	position:absolute;
	top:50%;
	left:50%;
	z-index:100;
	margin-top:-90px;
	margin-left:-150px;
	width:300px;
	height:180px;
	border-radius:6px;
	background:#fff;
}

section.warn-container .warn-box .btn-warn-close{
	float:right;
	margin:15px 15px 0 0;
	width:20px;
	height:20px;
	background:url(../img/close.png)no-repeat center center;
	background-size:100% 100%;
	cursor:pointer;
}

section.warn-container .warn-box .warn-img{
	margin:0 auto;
	margin-top:55px;
	width:40px;
	height:40px;
	background:url(../img/warn.png)no-repeat center center;
	background-size:100% 100%;
}

section.warn-container .warn-box .text{
	padding-top:15px;
	line-height:25px;
	font-size:18px;
	color:#333;
	text-align:center;
}

/****************************Dialog******************************/

section.dialog-container{
	position:fixed;
	top:44px;
	left:0;
	z-index:1000;
	width:100%;
	height:100%;
  	background-color:rgba(0,0,0,0.5);
}

section.dialog-container .warn-box{
	position:absolute;
	top:50%;
	left:50%;
	z-index:100;
	margin-top:-175px;
	margin-left:-175px;
	width:350px;
	height:270px;
	border-radius:6px;
	background:#fff;
}

section.dialog-container .warn-box .btn-warn-close{
	float:right;
	margin:15px 15px 0 0;
	width:20px;
	height:20px;
	background:url(../img/close.png)no-repeat center center;
	background-size:100% 100%;
	cursor:pointer;
}

section.dialog-container .warn-box .warn-img{
	margin:0 auto;
	margin-top:30px;
	width:40px;
	height:40px;
	background:url(../img/warn.png)no-repeat center center;
	background-size:100% 100%;
}

section.dialog-container .warn-box .text{
	padding-top:10px;
	margin-bottom:10px;
	line-height:25px;
	font-size:15px;
	color:#333;
	text-align:center;
}

section.dialog-container .warn-box .tip-box{
	margin:0 auto;
	padding:10px;
	width:310px;
	border-radius:4px;
	background:#229834;
	box-shadow: 0 0 10px 0 #666;
}

section.dialog-container .warn-box .tip-box .tip{
	font-size:14px;
	color:#fff;
	line-height:24px;
	letter-spacing:0.9px;
	text-align:left;
}

/************************************End Video***********************************/
section.end-video-container{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height:100%;
  	background-color:rgba(0,0,0,0.5);
}

section.end-video-container .warn-box{
	position:absolute;
	top:50%;
	left:50%;
	z-index:100;
	margin-top:-112px;
	margin-left:-150px;
	width:300px;
	height:225px;
	border-radius:6px;
	background:#fff;
}

section.end-video-container .warn-box .btn-warn-close{
	float:right;
	margin:15px 15px 0 0;
	width:20px;
	height:20px;
	background:url(../img/m_close.png)no-repeat center center;
	background-size:100% 100%;
	cursor:pointer;
}

section.end-video-container .warn-box .warn-img{
	margin:0 auto;
	margin-top:55px;
	width:40px;
	height:40px;
	background:url(../img/m_warn.png)no-repeat center center;
	background-size:100% 100%;
}

section.end-video-container .warn-box .text{
	padding-top:15px;
	line-height:25px;
	font-size:18px;
	color:#333;
	text-align:center;
}

section.end-video-container .warn-box .btn-box{
	position:relative;
	margin-top:20px;
	padding:0 30px;
	width:100%;
	height:40px;
	line-height:40px;
}

section.end-video-container .warn-box .btn-box .btn-end{
	position:relative;
	width:110px;
	height:40px;
	line-height:40px;
	border-radius:2px;
	text-align:center;
	font-size:16px;
	cursor:pointer;

	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}

section.end-video-container .warn-box .btn-box .btn-end-confirm{
	float:left;
	background:#61a4f2;
	color:#fff;
}

section.end-video-container .warn-box .btn-box .btn-end-confirm:hover{
	background:#3b90f3;
}

section.end-video-container .warn-box .btn-box .btn-end-cancel{
	float:right;
	background:#dbdbdb;
	color:#5b5b5b;
}

section.end-video-container .warn-box .btn-box .btn-end-cancel:hover{
	background:#b9b8b8;
}


/****************************bottom*************************************/
section.bottom-container{
	position:absolute;
	bottom:0;
	left:0;
	z-index:30;
	width:100%;
	height:22px;
	background:rgba(0,0,0,1);
}

section.bottom-container .bottom-box{
	position:relative;
	width:100%;
	height:100%;
}

section.bottom-container .bottom-box .top{
	position:absolute;
	bottom:7px;
	right:0;
	z-index:30;
	width:800px;
	height:80px;
	background:url(../img/highlight.png)no-repeat center center;
	background-size:100% 100%;
}

section.bottom-container .bottom-box .right{
	float:right;
	width:160px;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#fff;
	font-size:12px;
}

section.bottom-container .bottom-box .left span{
	cursor:pointer;
}

section.bottom-container .bottom-box .left{
	float:left;
	width:134px;
	height:22px;
	line-height:22px;
	text-align:center;
}

section.bottom-container .bottom-box .left span.icon{
	font-size:12px;
	color:#5fabff;
}

section.bottom-container .bottom-box .left span.text{
	font-size:12px;
	color:#fff;
}



/********************************Video****************************************/
section.video-container{
	position:absolute;
	top:44px;
	left:0;
	z-index:50;
	width:100%;
	height:calc(100% - 44px);
}

section.video-container .video-wrapper{
	position:relative;
	padding-bottom:22px;
	width:100%;
	height:100%;
}

section.video-container .video-wrapper .big{
	position:relative;
	float:left;
	width:100%;
	height:50%;
	overflow:hidden;
}

section.video-container .video-wrapper .big .default{
	position:relative;
	width:100%;
	height:100%;
	background:url(../img/m_video_bg.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .big .default:before{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	z-index:60;
	margin-top:-77px;
	margin-left:-60px;
	width:120px;
	height:144px;
	background:url(../img/m_person.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .big .audio-layer{
	position:relative;
	float:left;
	width:100%;
	height:100%;
	background:url(../img/m_video_bg.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .big .audio-layer:before{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	z-index:60;
	margin-top:-55px;
	margin-left:-50px;
	width:100px;
	height:110px;
	background:url(../img/audio_main.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .big .audio-box{
	position:absolute;
	top:10px;
	right:10px;
	z-index:200;
	width:34px;
	height:34px;
	line-height:34px;
	text-align:center;
	border-radius:100%;
	cursor:pointer;
}

section.video-container .video-wrapper .big .audio-open{
	background:rgba(0,0,0,0.5);
}

section.video-container .video-wrapper .big .audio-close{
	background:#ff4f00;
}


section.video-container .video-wrapper .big .audio-box span{
	font-size:16px;
	color:#fff;
}

section.video-container .video-wrapper .big #videoBig{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	overflow:hidden;
}

section.video-container .video-wrapper .big #videoBig video{
	display:block;
	width:100%;
	height:100%;
}

section.video-container .video-wrapper .big .name-big{
	position:absolute;
	bottom:0;
	left:0;
	z-index:200;
	padding:0 7px;
	height:20px;
	width:100%;
	line-height:20px;
	font-size:12px;
	color:#fff;
	background:rgba(0,0,0,0.5);

	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}

section.video-container .video-wrapper .big:hover .name-big{
	background:rgba(0,0,0,0.5);
}

section.video-container .video-wrapper .list{
	position:relative;
	float:left;
	width:100%;
	height:50%;
	overflow:scroll;
	background:rgba(0,0,0,0.5);
}

section.video-container .video-wrapper .list ul.video-list{
	position:relative;
	width:100%;
	height:100%;
	overflow:scroll;
}

section.video-container .video-wrapper .list ul.video-list li.video-item{
	position:relative;
	float:left;
	width:50%;
	height:50%;
}

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(2n):before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	z-index:300;
	width:0;
	height:100%;
	border-left:1px solid #666;
}

/* section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(1){
	border-top:1px solid #006fea;
}

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(2){
	border-top:1px solid #006fea;
}

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(3){
	border-top:1px solid #006fea;
} */

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(1){
	border-top:0;
}

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(2){
	border-top:0;
}

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(3){
	border-top:0;
}

section.video-container .video-wrapper .list ul.video-list li.video-item:nth-child(2n+1){
	/* border-left:1px solid #006fea; */
}

section.video-container .video-wrapper .list ul.video-list li.video-item .item-default{
	position:relative;
	float:left;
	width:100%;
	height:100%;
	background:url(../img/m_video_bg.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .item-default:before{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	z-index:60;
	margin-top:-29px;
	margin-left:-25px;
	width:50px;
	height:58px;
	background:url(../img/m_person.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box{
	position:absolute;
	top:10px;
	right:0px;
	z-index:300;
	width:44px;
	height:34px;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .more{
	float:left;
	margin-right:6px;
	width:34px;
	height:34px;
	line-height:34px;
	border-radius:100%;
	background:rgba(0,0,0,0.5);
	text-align:center;
	cursor:pointer;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box{
	display:none;
	position:absolute;
	top:40px;
	right:10px;
	z-index:400;
	background:#fff;
	border-radius:9px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-show{
	display:block;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box:before{
	content:"";
	position:absolute;
	top:-5px;
	right:10px;
	z-index:500;
	width:0;
	height:0;
	border-bottom:6px solid #fff;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box .item{
	position:relative;
	width:83px;
	height:34px;
	line-height:34px;
	padding:0 7px;
	text-align:left;
	cursor:pointer;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box .switch:before{
	content:"";
	position:absolute;	
	bottom:0;
	left:7px;
	z-index:500;
	width:calc(100% - 14px);
	height:0;
	border-bottom:1px solid #979797;

	transform:scaleY(0.5);
	-webkit-transfrom:scaleY(0.5);
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box span{
	display:block;
	float:left;
	height:34px;
	line-height:34px;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box span:nth-child(1){
	margin-right:4px;
	font-size:16px;
	color:#006fea;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box span.text{
	line-height:35px;
	font-size:13px;
	color:#333;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .more span{
	font-size:16px;
	color:#fff;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .name{
	position:absolute;
	bottom:0;
	left:0;
	z-index:200;
	padding:0 7px;
	height:20px;
	width:100%;
	line-height:20px;
	font-size:12px;
	color:#fff;
	background:rgba(0,0,0,0.5);

	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .audio-layer{
	position:relative;
	float:left;
	width:100%;
	height:100%;
	background:url(../img/audio_bg.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .audio-layer:before{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	z-index:60;
	margin-top:-28px;
	margin-left:-28px;
	width:56px;
	height:56px;
	background:url(../img/user_audio.png)no-repeat center center;
	background-size:100% 100%;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .ani-box{
	position:absolute;
	bottom:27px;
	left:50%;
	z-index:200;
	margin-left:-17px;
	width:35px;
	height:20px;
	line-height:20px;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .ani-box span{
	float:left;
	margin-left:2px;
	width:6px;
	height:6px;
	border-radius:3px;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .ani-box span.c1{
	background:#006fea;
	animation: load1 1.2s linear infinite;
	-webkit-animation: load1 1.2s linear infinite;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .ani-box span.c2{
	background:#5fabff;
	animation: load2 1.2s linear infinite;
	-webkit-animation: load2 1.2s linear infinite;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .ani-box span.c3{
	background:#ffffff;
	animation: load3 1.2s linear infinite;
	-webkit-animation: load3 1.2s linear infinite;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .ani-box span.c4{
	background:#006fea;
	animation: load4 1.2s linear infinite;
	-webkit-animation: load4 1.2s linear infinite;
}

@-webkit-keyframes load1{
	0%{
		background:#006fea;
	}
	25%{
		background:#5fabff;
	}
	50%{
		background:#ffffff;
	}
	75%{
		background:#5fabff;
	}
	100%{
		background:#006fea;
	}
}

@keyframes load1{
	0%{
		background:#006fea;
	}
	25%{
		background:#5fabff;
	}
	50%{
		background:#ffffff;
	}
	75%{
		background:#5fabff;
	}
	100%{
		background:#006fea;
	}
}

@-webkit-keyframes load2{
	0%{
		background:#5fabff;
	}
	25%{
		background:#ffffff;
	}
	50%{
		background:#5fabff;
	}
	75%{
		background:#006fea;
	}
	100%{
		background:#5fabff;
	}
}

@keyframes load2{
	0%{
		background:#5fabff;
	}
	25%{
		background:#ffffff;
	}
	50%{
		background:#5fabff;
	}
	75%{
		background:#006fea;
	}
	100%{
		background:#5fabff;
	}
}

@-webkit-keyframes load3{
	0%{
		background:#ffffff;
	}
	25%{
		background:#5fabff;
	}
	50%{
		background:#006fea;
	}
	75%{
		background:#5fabff;
	}
	100%{
		background:#ffffff;
	}
}

@keyframes load3{
	0%{
		background:#ffffff;
	}
	25%{
		background:#5fabff;
	}
	50%{
		background:#006fea;
	}
	75%{
		background:#5fabff;
	}
	100%{
		background:#ffffff;
	}
}

@-webkit-keyframes load4{
	0%{
		background:#006fea;
	}
	25%{
		background:#5fabff;
	}
	50%{
		background:#ffffff;
	}
	75%{
		background:#5fabff;
	}
	100%{
		background:#006fea;
	}
}

@keyframes load4{
	0%{
		background:#006fea;
	}
	25%{
		background:#5fabff;
	}
	50%{
		background:#ffffff;
	}
	75%{
		background:#5fabff;
	}
	100%{
		background:#006fea;
	}
}

section.video-container .video-wrapper .list ul.video-list li.video-item .video-layer{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	overflow:hidden;
}

section.video-container .video-wrapper .list ul.video-list li.video-item .video-layer video{
	display:block;
	width:100%;
	height:100%;
}



/*******************************************Media Query******************************************/
@media (max-device-width:812px) and (orientation:landscape){
    section.pic-container .pic01{
		top: -90px;
	}

	section.pic-container .pic02{
		top: 80px;
		margin-left: -90px;
		width: 200px;
		height: 28px;
	}

	section.pic-container .pic03{
		bottom: 30px;
	}

	section.time-container {
		margin-top: 5px;
	}
	
	section.end-container {
		margin-top: 0px;
		height: 106px;
	}

	section.end-container .end-img {
		width: 70px;
		height: 70px;
	}

	section.enter-container {
		margin-top: 0px;
		height: 110px;
	}

	section.flo-container .text {
		line-height: 20px;
		font-size: 16px;
	}

	section.enter-container .btn-enter {
		margin-top: 10px;
		width: 170px;
		height: 50px;
		line-height: 45px;
		font-size: 20px;
	}

	section.warn-container .warn-box{
		margin-top:-110px;
	}



	section.video-container .video-wrapper .big {
		width: 50%;
		height:100%;
		border-right:1px solid #666;
	}

	section.video-container .video-wrapper .big .audio-box {
		position: absolute;
		top: 7px;
		right: 7px;
		width: 32px;
		height: 32px;
		line-height: 32px;
	}

	section.video-container .video-wrapper .list {
		width: 50%;
		height:100%;
	}

	section.video-container .video-wrapper .list ul.video-list{
		position:relative;
		width:100%;
		height:100%;
		overflow-y:scroll;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item {
		width: 50%;
		height:50%;
	}

	section.video-container .video-wrapper .big .name-big {
		height: 18px;
		line-height: 18px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .name {
		height: 18px;
		line-height: 18px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box {
		top: 7px;
		right: 0px;
		z-index: 300;
		width: 39px;
		height: 32px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .more {
		margin-right: 3px;
		width: 32px;
		height: 32px;
		line-height: 32px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box {
		top: 38px;
		right: 7px;
		border-radius: 7px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box:before {
		right: 9px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box .item {
		width: 70px;
		height: 28px;
		line-height: 28px;
		padding: 0 7px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box span {
		height: 28px;
		line-height: 28px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box span:nth-child(1) {
		margin-right: 4px;
		font-size: 13px;
	}

	section.video-container .video-wrapper .list ul.video-list li.video-item .menu-box .func-box span.text {
		line-height: 28px;
		font-size: 12px;
	}


	section.dialog-container .warn-box{
		margin-top:-120px;
		margin-left:-190px;
		width:380px;
		height:190px;
	}

	section.dialog-container .warn-box .warn-img{
		margin-top: 20px;
		width:30px;
		height:30px;
	}

	section.dialog-container .warn-box .text{
		font-size:13px;
		padding-top:5px;
		margin-bottom:5px;
	}
	
	section.dialog-container .warn-box .tip-box{
		width:310px;
		padding:5px 20px;
	}
	
	section.dialog-container .warn-box .tip-box .tip{
		font-size:12px;
		line-height:20px;
	}

}

@media screen and (max-width:414px){
	
}

@media screen and (max-width:384px){
	section.dialog-container .warn-box{
		margin-top:-175px;
		margin-left:-165px;
		width:330px;
		height:270px;
	}

	section.dialog-container .warn-box .text{
		font-size:13px;
	}
	
	section.dialog-container .warn-box .tip-box{
		width:280px;
	}
	
	section.dialog-container .warn-box .tip-box .tip{
		font-size:12px;
	}
}

@media screen and (max-width:375px){
	
}

@media screen and (max-width:360px){
	
}

@media screen and (max-width:320px){
	
	section.time-container{
		margin-top:-30px;
	}

	section.time-container .time-inner{
		line-height:40px;
		font-size:28px;
	}

	section.enter-container {
		margin-top: -35px;
	}

	section.flo-container .text {
		line-height: 20px;
		font-size: 16px;
	}

	section.warn-container .warn-box{
		margin-top:-70px;
		margin-left:-120px;
		width:240px;
		height:140px;
	}

	section.warn-container .warn-box .warn-img {
		margin-top: 35px;
	}

	section.end-video-container .warn-box{
		margin-top:-100px;
		margin-left:-120px;
		width:240px;
		height:200px;
	}

	section.end-video-container .warn-box .warn-img {
		margin-top: 35px;
	}

	section.end-video-container .warn-box .btn-box{
		padding:0 10px;
	}
	
	section.end-video-container .warn-box .btn-box .btn-end{
		position:relative;
		width:100px;
		height:40px;
	}


	section.dialog-container .warn-box{
		margin-top:-175px;
		margin-left:-150px;
		width:300px;
		height:270px;
	}
	
}




